:root {
    font: 16px / 1 sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background-image: url('images/grass2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: #fff;
}

.score-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.score-area h2 {
    text-align: center;
    color: #fff;
}

.score-area p {
    font-size: 3rem;
    text-align: center;
    padding: 2rem 10rem;
    color: #fff;
}

.update-score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.update-score .team-name {
    display: flex;
    flex-direction: row;
}

.update-score section {
    margin: 1rem;
    color: #fff;
}

.score-area section {
    border: 1px solid #8cab61;
    border-radius: 2%;
    background-color: #c8d9ab;
}

.update-score button {
    background-color: #8cab61;
    color: #fff;
}

.team-name {
    background-color: rgb(153, 136, 98, 0.5);
}

.team1 section:nth-child(2) span {
    background-color: rgb(153, 136, 98, 0.5);
}

.team2 section:nth-child(2) span {
    background-color: rgb(153, 136, 98, 0.5);
}
