:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background-image: url('images/grass2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

h1 {
  text-align: center;
  color: #fff;
}

input {
  padding: 0.5rem;
}

button {
  cursor: pointer;
}

.score-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.score-area h2 {
  text-align: center;
  color: #fff;
}

.score-area p {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.update-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-top: 2rem;
}

.update-score .team-name {
  display: flex;
  flex-direction: column;
}

.update-score section {
  margin: 1rem 0rem 1rem 0rem;
  color: #fff;
}

.score-area section {
  border: 1px solid #8cab61;
  border-radius: 2%;
  background-color: rgb(200, 217, 171, 0.8);
  width: 40%;
}

.update-score button {
  background-color: #8cab61;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
}

.team-name {
  background-color: rgb(153, 136, 98, 0.8);
}

.team1 section:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.team2 section:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.team1 section:nth-child(2) span {
  background-color: rgb(153, 136, 98, 0.8);
  padding: 0.5rem;
}

.team2 section:nth-child(2) span {
  background-color: rgb(153, 136, 98, 0.8);
  padding: 0.5rem;
}

.team-name span {
  padding: 0.5rem;
}

.hide-button {
  display: none;
}

.period-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.period-tracker button {
  background-color: #8cab61;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.period-tracker section {
  border-radius: 2%;
  background-color: rgb(200, 217, 171, 0.8);
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  color: #fff;
  padding: 0.5rem 0rem;
}

.winner {
  border: 5px solid rgb(202, 120, 194) !important;
  background-color: rgb(202, 120, 194, 0.7) !important;
}
/* Tablet View Styles */
/* #add-button-team-1 {
    margin-left: 19%;
}

#add-button-team-2 {
    margin-left: 19%;
} */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .score-area {
    justify-content: space-evenly;
  }

  .update-score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    margin-top: 2rem;
  }

  .update-score .team-name {
    display: flex;
    flex-direction: row;
  }

  .team1 section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .team2 section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  .score-area {
    justify-content: space-evenly;
  }

  .update-score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    margin-top: 2rem;
  }

  .team1 section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .team2 section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .update-score .team-name {
    display: flex;
    flex-direction: row;
  }
}
